
.div{
    margin-top: 110px;
    font-family: 'Crimson Text, serif'
}
.cart{
    font-size: 30px;
}
.checkoutbtn{
    background-color: rgb(55, 169, 155);
    color: white;
    text-decoration: none;
    width: 100%;
}

.browsebtn{
    background-color: rgb(55, 169, 155);
    color: white;
    text-decoration: none;
    width: 50%;
    left:25%;
}
.cartDetail{
    list-style-type: none;
    font-size: 15px;
    /* padding: 15px; */
    /* margin: 0; */
    padding: 0;
}
.cartPrice{
    font-size: 20px;
}
.panel-body{    
    background-color: white;
}
.imgClass{
    max-width: 100%
}
.modalSucces{
    text-align: "center" !important
}

.checkout-amount{
    font-weight: bold;
    float: right;
    color: black;
}

.trashbtn{
    float:right;
    margin-top: 12px;
}