.homebanneropa{
    margin-top: 70px;
    -webkit-filter: brightness(60%);
    
}



/*Media Queries for Home banner inside Elements for every device*/
/*For Laptops*/
    .onbanner{
        position: absolute;
        top: 300px;
        left: 415px;

    }

    @media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
        .onbanner{
            position: absolute;
            top: 300px;
            left: 300px;
        
    
        }
    
  }
  
    /*For Tablets*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .onbanner{
        position: absolute;
        top: 200px;
        left: 20px;
        width: 95%;
    }
}

@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
    .onbanner{
        position: absolute;
        top: 350px;
        left: 55px;
        width: 90%;
    }
}



/*For Mobile Devices*/

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .onbanner{
        position: absolute;
        top: 200px;
        left: 20px;
        width: 95%;
    }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .onbanner{
        position: absolute;
        top: 200px;
        left: 20px;
        width: 95%;
    }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .onbanner{
        position: absolute;
        top: 200px;
        left: 20px;
        width: 95%;
    }
}

.onbanner h2{
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.onbanner h4{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.onbanner img{
    width: 50%;
}

.cardinside{
    background-color: white;
    border-radius: 5px !important;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 0px 11px 0px;

}


.ant-select-arrow .ant-select-arrow-icon svg {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    color: #224B69;
}

.ant-select-selection--single {
    height: 32px;
    position: relative;
    cursor: pointer;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.ant-input {
    font-variant: tabular-nums;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    /* border: 1px solid #d9d9d9; */
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.insidebutton{
    background: linear-gradient(90deg, rgba(35,106,75,1) 0%, rgba(34,75,105,1) 100%);
    color: white;
    border-radius: 5px !important;

}