.ant-tabs-nav-scroll {
    overflow: hidden;
    white-space: nowrap;
    background-color: #E5E1D6;
}

.ant-tabs-ink-bar {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 2px;
    background-color: rgb(55, 169, 155);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: rgb(55, 169, 155) !important;
    background-color: #E5E1D6 !important;
}

.btn-editprofile{
width: 100%;
margin-top: 20px;
border-radius: 50px !important;
padding: 5px;
font-size: 16px;
background-color:#3C3C47 ;
color: white;
}
.fontClolor{
color: white;
font-size: 14px;
/* padding: 8px; */

}